
<footer class="container font-weight-light my-5">
    <div class="row">
        <div class="col-md-12">
            <a class="float-left dropdown-toggle" href="#" id="footerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><script type="text/javascript">document.write(location.host)</script></a>
            <div class="dropdown-menu" aria-labelledby="footerDropdown">
                {%- for domain_footer in site.data.domains -%}
                <a class="dropdown-item" href="{{ domain_footer | prepend: 'https://' }}">{{ domain_footer }}</a>
                {%- endfor -%}
            </div>
            <span class="float-right">
                <a href="https://tophackr.com" class="text-dark">tophackr</a> &copy; {{ 'now' | date: '%Y' }}
            </span>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">$('[data-toggle="tooltip"]').tooltip();</script>
{% if page.slug %}
<script src="https://cdn.commento.io/js/commento.js"></script>
{% endif %}
