<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ page.description | default: site.description | smartify }}">
    <meta name="author" content="tophackr">

    <title>
        {%- if page.title -%}
            {{ page.title | smartify }}
        {%- else -%}
            {{ site.data.langs[page.lang].sitename | default: site.data.langs['en'].sitename | smartify }}
        {%- endif -%}
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css">

    <style>
        #calendarBig table tbody td:nth-child(n+6) { color: #ffc107; }
    </style>

    <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}">

    {% include analytics.html %}
    {%- if page.slug -%}
    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="https://yastatic.net/share2/share.js"></script>
    {%- endif -%}
</head>