<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">📅 {{ site.data.langs[page.lang].sitename | default: site.data.langs['en'].sitename }}</a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#tophackr-navbar" aria-controls="tophackr-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="tophackr-navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/📣' | relative_url }}" data-toggle="tooltip" title="{{ site.data.langs[page.lang].ad | default: site.data.langs['en'].ad }}">📣</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-md-auto d-none d-lg-flex">
            <li class="nav-item">
                <a class="nav-link p-2" href="mailto:tophackr@icloud.com" target="_blank" rel="noopener" data-toggle="tooltip" title="{{ site.data.langs[page.lang].contact_us | default: site.data.langs['en'].contact_us }}" aria-label="Email">📧</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="calendarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ site.data.langs[page.lang].icon | default: site.data.langs['en'].icon }}
                </a>
                <div class="dropdown-menu" aria-labelledby="calendarDropdown">
                    {%- for language in site.data.langs -%}
                    <a class="dropdown-item" href="/{{ language[1].icon }}">{{ language[1].icon | append: language[1].name }}</a>
                    {%- endfor -%}
                    <!--<div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="">{{ site.data.langs[page.lang].translate | default: site.data.langs['en'].translate }}</a>-->
                </div>
            </li>
        </ul>
    </div>
</nav>
