---
layout: default
---

<div class="row justify-content-center my-5">
    <div class="col-lg-12 col-xl-10">

        <div id="calendarBig" class="row">

            <div id="prev" class="btn-link text-center col-sm-12 col-lg-3 mb-3" style="cursor: pointer;"></div>
            <div id="now" class="h4 text-center col-sm-12 col-lg-6 mb-3" style="text-decoration: underline;"></div>
            <div id="next" class="btn-link text-center col-sm-12 col-lg-3 mb-3" style="cursor: pointer;"></div>

            {%- for months in (0..11) -%}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <table class="table table-borderless card mb-4" data-m="{{ months }}">
                    <thead class="card-header">
                        {%- assign months1 = 'month_' | append: months -%}
                        <tr class="d-flex flex-column">
                            <td class="h6 card-title text-center mb-0" colspan="7">{{ site.data.langs[page.lang][months1] | default: site.data.langs['en'][months1] }}</td>
                        </tr>
                        <tr id="caledarGrid" class="d-flex justify-content-around text-center">
                            {%- for weeks in (0..6) -%}
                            {%- assign weeks1 = 'week_' | append: weeks -%}
                            <td class="card-subtitle text-muted px-0">{{ site.data.langs[page.lang][weeks1] | default: site.data.langs['en'][weeks1] }}</td>
                            {%- endfor -%}
                        </tr>
                    </thead>
                    <tbody class="card-body"></tbody>
                </table>
            </div>
            {%- endfor -%}

        </div><!-- /#calendarBig -->

    </div><!-- /.col -->
</div><!-- /.row -->

<div id="calendarTable">
    {%- for dates in site.posts -%}
        {%- if page.url == '/' -%}
            {%- assign page_lang = 'en' -%}
        {%- else -%}
            {%- assign page_lang = page.lang -%}
        {%- endif -%}
        {%- if dates.slug == page_lang or dates.slug == null -%}
            {%- include config.html item1=dates.date -%}
    <div data-dd="{{ dates.date | date: '%e' | strip }}" data-mm="{{ dates.date | date: '%m' }}"{% unless dates.year == false %} data-yyyy="{{ dates.date | date: '%Y' }}"{% endunless %} data-date="📆{{ dates.date | date: ' %d, %Y' | prepend: m_config2 }}" data-text="• {{ dates.title }}" data-link="{{ dates.url | relative_url }}"></div>
        {%- endif -%}
    {%- endfor -%}
</div>

<script>
function calendarBig(year) {
for (var m = 0; m <= 11; m++) {
var D = new Date(year,[m],1),
        Dlast = new Date(D.getFullYear(),D.getMonth()+1,0).getDate(),
        DNlast = new Date(D.getFullYear(),D.getMonth(),Dlast).getDay(),
        DNfirst = new Date(D.getFullYear(),D.getMonth(),1).getDay(),
        calendar = '<tr id="caledarGrid" class="d-flex justify-content-around text-center">';

if (DNfirst != 0) {
    for (var  i = 1; i < DNfirst; i++) calendar += '<td class="px-0">';
} else {
    for (var  i = 0; i < 6; i++) calendar += '<td class="px-0">';
}

for (var  i = 1; i <= Dlast; i++) {
    if (i == new Date().getDate() && D.getFullYear() == new Date().getFullYear() && D.getMonth() == new Date().getMonth()) {
        calendar += '<td class="font-weight-bold text-info px-0" style="cursor: help;" data-toggle="tooltip" title="{{ site.data.langs[page.lang].today | default: site.data.langs["en"].today }}">' + i;
    } else {
        calendar += '<td class="px-0">' + i;
    }
    if (new Date(D.getFullYear(),D.getMonth(),i).getDay() == 0) {
        calendar += '<tr id="caledarGrid" class="d-flex justify-content-around text-center">';
    }
}

if (DNlast != 0) {
    for(var  i = DNlast; i < 7; i++) calendar += '<td>';
}

document.querySelector('#calendarBig table[data-m="' + [m] + '"] tbody').innerHTML = calendar;
document.querySelector('#calendarBig > #now').innerHTML = '{{ site.data.langs[page.lang].calendar_on_1 | default: site.data.langs["en"].calendar_on_1 }} ' + year + ' {{ site.data.langs[page.lang].calendar_on_2 | default: site.data.langs["en"].calendar_on_2 }}';
document.querySelector('#calendarBig > #prev').innerHTML = '{{ site.data.langs[page.lang].calendar_on_1 | default: site.data.langs["en"].calendar_on_1 }} ' + parseFloat(parseFloat(year)-1) + ' {{ site.data.langs[page.lang].calendar_on_2 | default: site.data.langs["en"].calendar_on_2 }}';
document.querySelector('#calendarBig > #next').innerHTML = '{{ site.data.langs[page.lang].calendar_on_1 | default: site.data.langs["en"].calendar_on_1 }} ' + parseFloat(parseFloat(year)+1) + ' {{ site.data.langs[page.lang].calendar_on_2 | default: site.data.langs["en"].calendar_on_2 }}';

for (var k = 1; k <= document.querySelectorAll('#calendarTable div').length; k++) {
    var myD = document.querySelectorAll('#calendarBig table td'),
            my = document.querySelector('#calendarTable div:nth-child(' + [k] + ')');
    for (var i = 0; i < myD.length; i++) {
        if (my.dataset.yyyy) {
            if (myD[i].innerHTML == my.dataset.dd && myD[i].parentNode.parentNode.parentNode.dataset.m == (my.dataset.mm - 1) && year == my.dataset.yyyy) {
                myD[i].className = "font-weight-bold text-dark px-0";
                myD[i].dataset.toggle = "popover";
                myD[i].title = '<span class="text-center">' + my.dataset.date + '</span>';
                myD[i].dataset.content = my.dataset.text;
                if (my.dataset.link) {
                    myD[i].dataset.content = '<a href="' + my.dataset.link + '">' + myD[i].dataset.content + '</a>';
                }
                myD[i].dataset.delay = '{ "hide": 2000 }';
                myD[i].dataset.html = "true";
                myD[i].dataset.trigger = "hover";
                myD[i].setAttribute("style", "cursor: help;");
            }
        } else {
            if (myD[i].innerHTML == my.dataset.dd && myD[i].parentNode.parentNode.parentNode.dataset.m == (my.dataset.mm - 1)) {
                myD[i].className = "font-weight-bold text-dark px-0";
                myD[i].dataset.toggle = "popover";
                myD[i].title = '<span class="text-center">' + my.dataset.date + '</span>';
                myD[i].dataset.content = my.dataset.text;
                if (my.dataset.link) {
                    myD[i].dataset.content = '<a href="' + my.dataset.link + '">' + myD[i].dataset.content + '</a>';
                }
                myD[i].dataset.delay = '{ "hide": 2000 }';
                myD[i].dataset.html = "true";
                myD[i].dataset.trigger = "hover";
                myD[i].setAttribute("style", "cursor: help;");
            }
        }
    }
}

}}

// trash
var baseUrl = window.location.protocol + '//' + window.location.host + window.location.pathname;

var wlh = window.location.hash.replace('#', '');
if (parseInt(wlh)) {
    var yeaR = parseInt(wlh);
} else {
    var yeaR = new Date().getFullYear();
}

function updateURLprev() {
    var wlh = window.location.hash.replace('#', '');
    if (parseInt(wlh)) {
        var yeaR = parseInt(wlh);
    } else {
        var yeaR = new Date().getFullYear();
    }
    var newUrl = baseUrl + '#' + (parseInt(yeaR) - 1);
    history.pushState(null, null, newUrl);
    calendarBig(this.innerHTML.replace(/[^\d]/gi, ''));
    $('[data-toggle="popover"]').popover('update');
}
function updateURLnext() {
    var wlh = window.location.hash.replace('#', '');
    if (parseInt(wlh)) {
        var yeaR = parseInt(wlh);
    } else {
        var yeaR = new Date().getFullYear();
    }
    var newUrl = baseUrl + '#' + (parseInt(yeaR) + 1);
    history.pushState(null, null, newUrl);
    calendarBig(this.innerHTML.replace(/[^\d]/gi, ''));
    $('[data-toggle="popover"]').popover('update');
}
// endtrash

calendarBig(yeaR);
document.querySelector('#calendarBig > #prev').onclick = updateURLprev;
document.querySelector('#calendarBig > #next').onclick = updateURLnext;
</script>